html, body, .perspective {
	/* width: 99.5%; */
	height: 100%;
	overflow-x: hidden;
}

.perspective {
	background: #aaa;
	position: relative;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
}

.container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
	/* position: relative; */
	height: 100vh;
}
@media screen and (max-width: 500px){
	.wrapper{
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.header-menu{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	        flex-direction: column-reverse;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}
@media screen and (max-width: 500px){
	.header-menu{
		width: auto;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.header-menu__personal-info{

}
@media screen and (max-width: 500px){
	.header-menu__personal-info{
		display: -webkit-box;
		display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	        flex-direction: column;
    	-webkit-box-pack: center;
    	        justify-content: center;
    	-webkit-box-align: center;
    	        align-items: center;
	}
}
.header-menu__personal-info__name{
	font-size: 90px;
	font-weight: 100;
	margin: 0;
	color:#100b07;
	-webkit-animation: tilt-in-left-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-left-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@media screen and (max-width: 500px){
	.header-menu__personal-info__name{
		font-size: 60px;
		width: 80%;
	}
}
@media screen and (max-width: 340px){
	.header-menu__personal-info__name{
		font-size: 50px;
	}
}
.header-menu__personal-info__description{
	font-size: 30px;
	margin: 0;
	color: #3c3939;
	font-weight: 100;
	-webkit-animation: tilt-in-left-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both .3s;
	        animation: tilt-in-left-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both .3s;
}
@media screen and (max-width: 340px){
	.header-menu__personal-info__description{
		font-size: 25px;
	}
}
.large-header{
	/* background-color: #24232d; */
	position: absolute;
	z-index: -1;
	top: 0;
}
.burger{
	width: 200px;
	height: 150px;
	/* background-color: #403f48; */
	background-color: #3c3939;
	-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%);
	        clip-path: polygon(0 0%, 100% 0%, 100% 100%);
	cursor: pointer;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: .6s;
	transition: .6s;
	z-index: 999;
	-webkit-animation: scaleForBurer 2s;
	        animation: scaleForBurger 2s;
}
.burger svg{
	fill: #fff;
	width: 30%;
	height: 30%;
	position: absolute;
	top: 10%;
	right: 10%;
	-webkit-transition: .6s;
	transition: .6s;
}
.burger:hover{
	width: 180px;
	height: 130px;
}
.burger:hover svg{
	-webkit-transform: scale(.8);
	        transform: scale(.8);
}
.social-media{
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	right: 80%;
	z-index: 999;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	        align-items: center;
}
@media screen and (max-width: 500px){
	.social-media{
		right: 60%;
	}
}
.linkedin{
	-webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.github{
	-webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
	        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
}
.facebook{
	-webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) .6s both;
	        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) .6s both;
}
.instagram{
	-webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) .9s both;
	        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) .9s both;
}
.linkedin, .github, .facebook, .instagram {
	width: 35px;
	height: 35px;
	position: relative;
}
@media screen and (max-width: 500px){
	.linkedin, .github, .facebook, .instagram{
		width: 25px;
	}
}
.linkedin svg, .github svg, .facebook svg, .instagram svg{
	width: 100%;
	height: 100%;
	fill: #403f48;
	-webkit-transition: .6s;
	transition: .6s;
	cursor: pointer;
}
.linkedin svg:hover, .github svg:hover, .facebook svg:hover, .instagram svg:hover{
	fill: #24232d;
	-webkit-transform: translateY(-5px);
	        transform: translateY(-5px);
}
.linkedin::before, .github::before, .facebook::before, .instagram::before  {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 7.5%;
	height: 10px;
	width: 85%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	letter-spacing: 2px;
}
.linkedin:hover::before, .github:hover::before, .facebook:hover::before, .instagram:hover::before{
	opacity: 1;
	-webkit-transform: translateY(5px);
			transform: translateY(5px);
} 
.main-content__about{
	height: 100vh;
	display: flex;
}
.main-content__about__picture{
	font-size: 40px;
	width: 50%;
}
.main-content__about__content{
	font-size: 40px;
	width: 50%;
}

/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
	font-size: 2em;
}

.outer-nav.vertical {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.outer-nav.left {
	left: 25%;
}

.outer-nav.right {
	right: 25%;
}

.outer-nav.top {
	top: 25%;
}

.outer-nav.bottom {
	bottom: 25%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 300;
	margin: 0 0 30px 0;
	color: #fff;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	text-decoration: none;
	position: relative;
	outline: 0;
}
.outer-nav a:hover::before{
	opacity: 1;
	-webkit-transform: translateY(5px);
			transform: translateY(5px);
  }
.outer-nav a::before{
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 4%;
	height: 10px;
	width: 70%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	letter-spacing: 2px;
}
@media screen and (max-width:500px){
	.outer-nav a::before{
		left: 0;
		width: 30%;
	}
}

.outer-nav a:hover {
	-webkit-transform: translateY(-5px) !important;
	        transform: translateY(-5px) !important;
}

.outer-nav.vertical a {
	display: block;
}

.outer-nav.horizontal a {
	margin: 15px 20px;
}

.outer-nav a::before {
	display: inline-block;
	/* font-family: 'typicons'; */
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/* Individual Effects */

/* Effect airbnb */
.effect-airbnb {
	/* background: #403f48; */
	background: #3c3939;
}

.effect-airbnb .container {
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.effect-airbnb.animate .container {
	-webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
	transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
}

.no-csstransforms3d .effect-airbnb.animate .container {
	left: 75%;
}

.effect-airbnb .outer-nav a {
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.effect-airbnb.animate .outer-nav a {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.effect-airbnb.animate .outer-nav a:nth-child(2) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.effect-airbnb.animate .outer-nav a:nth-child(3) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.effect-airbnb.animate .outer-nav a:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.effect-airbnb.animate .outer-nav a:nth-child(5) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.effect-airbnb.animate .outer-nav a:nth-child(6) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.effect-airbnb.animate .outer-nav a:nth-child(7) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}


/* Media Queries */
@media screen and (max-width: 77em) {
	
	.outer-nav.top {
		top: 15%;
	}

	.outer-nav.bottom {
		bottom: 15%;
	}
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {

	.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 5%;
	}
	
	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: left;
	}

	/* Special Case */
	.effect-rotatetop .outer-nav.horizontal {
		width: 95%;
		bottom: auto;
		top: 50%;
	}

	.effect-rotatetop .outer-nav.horizontal a {
		display: inline-block;
	}

}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
	.outer-nav.horizontal,
	.outer-nav.vertical {
		font-size: 1.2em;
		width: 6.8em;
	}

	.outer-nav.right {
		right: auto;
		left: 50%;
	}
}

@media screen and (max-height: 31.6em) {
	.outer-nav a {
		margin-bottom: 20px;
	}
}


/* scroll bar */
/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	/* background: #03adcc;  */
	background: #a99b76; 
	border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #6f4826; 
  }