 @-webkit-keyframes tilt-in-left-2 {
    0% {
      -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
              transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-left-2 {
    0% {
      -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
              transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }

@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes scaleForBurger{
    0%{
        width: 200px;
	    height: 150px;
    }
    25%{
        width: 140px;
	    height: 90px;
    }
    50%{
        width: 220px;
        height: 170px;
    }
    100%{
        width: 200px;
        height: 150px;
    }
}
