.share {
  max-width: 600px;
  height: 100px;
  position: absolute;
  left: 20%;
  z-index: 999;
  -webkit-transition: all .3s;
  transition: all .3s;
  animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@media screen and (max-width: 500px){
  .share{
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top:15%;
    left: 57%;
  }
}
@media screen and (max-width: 360px){
  .share{
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: 14%;
    left: 41%;
  }
}

.share-button,
.share-toggle-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-left: -40px;
  margin-top: -40px;
  background: #ccc;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.share-button:hover,
.share-toggle-button:hover {
  color: #fff;
}

.share-button {
  font-size: 30px;
  /* background: #403f48; */
  background: #3c3939;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #222;
}

a.share-button {
  color: rgb(198, 200, 200);
}

a.share-button:hover, 
a.share-button:focus {
  color: #f6ebeb;
}

.share-toggle-button {
  z-index: 9;
  /* background: #403f48; */
  background: #3c3939;
  font-size: 20px;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-item {
  display: inline-block;
}
.fa{
  line-height: inherit;
}
@media screen and (max-width: 500px){
  .share-icon{
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
